@header-height: 70px;
@container-margin: 50px;

header {
  background-color: black;
  height: @header-height;
  position: fixed;
  width: 100%;
  z-index: 20;
  .header-flex{
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    margin: 0 @container-margin;
    #menu-btn{
      display: none;
      visibility: hidden;
    }
    .name{
      font-size: 24px;
      font-weight: 500;
      margin-right: auto;
      margin-left: 20px;
    }
    .header-btn{
      background:none;
      border: none;
    }
    .header-anchor{
      margin-left: 20px;
      margin-right: 20px;
      a{
        transition-property: font-size;
        transition-duration: 1s;
        color: inherit;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}



nav{
  z-index: 25;
  position: sticky;
  .menu {
    position: fixed;
    width: 30%;
    height: 100vh;
    margin-top: @header-height;
    background: black;
    transition: 1s;
    transform: translateX(-100%);

    &-flex {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        font-size: 30px;
        color: white;
      }
    }
  }
}



main{
  width: 100%;
  z-index: 10;
  .main-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    .photo{
      width: 100%;
      background-image: url("../img/myphoto.jpg");
      opacity: 0.1;
      transition-property: opacity;
      transition-duration: 3s;
      height: 100vh;
      margin: 0;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .discription{
      padding: 50px;
      color: black;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      border-bottom: solid 3px ;
      opacity: 0.85;
      span{
        color: #f09700;
      }
      p:first-child, p:last-child{
        font-size: 36px;
        font-weight: 700;
      }
    }

    .projects{
      display: flex;
      flex-direction: column;
      &-my{
        padding: 50px;
        width: 100%;
        text-align: center;
        font-size: 75px;
        font-weight: 700;
      }
      &-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .projects-logo{
          img{
            width: 50vw;
            height: 50vw;
          }
          padding: 0 @container-margin;
          width: 100%;
        }

        &-name{
          font-size: 45px;
          font-weight: 500;
          margin: 50px 0;
          text-align: center;
        }
        &-description{
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          margin: 20px 0;
          ul{
            list-style: none;
          }
        }
        &-presentation{
          width: 100%;
          border-bottom: black solid 3px;
          border-top: black solid 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 60px 0;
          .projects-btn{
            width: 40px;
            height: 40px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
            border: none;
            visibility: hidden;
            display: none;
          }
          #homeio-left-button, #lungo-left-button{
            background-image: url("../img/left.png");
          }
          #homeio-right-button, #lungo-right-button{
            background-image: url("../img/right.png");
          }
          #homeio-img-1{
            visibility: hidden;
          }
          #lungo-img-1{
            visibility: hidden;
          }
          #homeio-img-2{
            width: 40vw;
            height: 40vw;
          }
          #lungo-img-2{
            width: 40vw;
            height: 40vw;
          }
          img{
            margin: 20px;
            width: 20vw;
            height: 20vw;
            transition: width 1000ms, height 1000ms;
          }
        }
      }
    }

    .skills{
      background: lightgray;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      &-my {
        padding: 50px;
        width: 100%;
        text-align: center;
        font-size: 75px;
        font-weight: 700;
      }
      .skills-box {
        width: 40%;
        margin: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .skills-discription {
          font-size: 16px;
          font-weight: 700;
          padding: 20px 0;
          opacity: 0;
          transition: opacity 1500ms;
          height: 0;
          //visibility: hidden;
        }
        .skills-wrap {
          width: 15vw;
          height: 15vw;
          transition-property: height, width;
          transition-duration: 2s;

          img {
            width: 100%;
            height: 100%;
          }
        }

      }
    }
  }
}

footer{
  height: 180px;
  background-color: black;
  color: white ;
  font-size: 16px;
  font-weight: 400;

  .footer-flex{
    display: flex;
    justify-content: space-around;
    padding:10px @container-margin;
    .footer-header {
      margin-bottom: 15px;
      font-size: 20px;
      display: block;
      font-weight: 700;
    }
    .social{
      width: 30%;
      img{
        padding: 2px;
        width: 50px;
        height: 50px;
      }

    }
    .contacts{
      width: 30%;
      a{
        color: inherit;
      }
    }
    .info-about-me{
      width: 30%;

    }
  }
}


@media only screen and (max-width: 768px) {
@container-margin = 0;
  header {
    .header-anchor {
      display: none;
    }

    .header-flex {
      margin: 0 5px;

      #menu-btn {
        display: block;
        visibility: visible;
      }
    }
  }

  main {
    width: 100%;
  }

  .main-flex {
    width: 100%;

    #skills {
      .skills-my {
        font-size: 40px;
      }

      .skills-box {
        width: 30%;

        .skills-wrap {
          width: 25vw;
          height: 25vw;
        }
      }
    }

    .projects {
      width: 100% !important;

      &-my {
        font-size: 40px !important;
        padding: 0 !important;
      }

      &-wrap {
        padding: 0;

        &-name {
          font-size: 35px !important;
        }
      }

      &-logo {
        padding: 0 !important;
      }
    }
  }
}
nav{
  .menu{
    width: 50%;
  }
}
footer{
  .info-about-me{
    display: none;
  }
  .contacts{
    display: none;
  }
  .social {
    width: 100% !important;
    img{
      width: 40px !important;
      height: 40px !important;
    }
  }

}


@media only screen and (max-width: 375px){
  .main-flex{
    #skills{
      .skills-box {
        width: 100%;
        .skills-wrap {
          width: 25vw;
          height: 25vw;
        }
      }
    }
    .projects{
      &-my{
        font-size: 40px !important;
      }
      &-wrap{

      }
    }

  }

  nav{
    .menu{

      a{
        font-size: 20px;
      }
    }
  }

  footer{
    .footer-flex{
      flex-direction: column;
    }
  }
}
